<div class="sign_up">
  <h2>Fancy a BATMATCH with someone? </h2>
  <p> Meet a great player nearby? Maybe even form a potential
      team to play with other teams? Here at BATMAP, you can post an open
      match at a certain table, with a specific time so that people nearby
      can accept the match and be prepared for a challenge!
  </p>
  <%=image_tag("match.jpg", class: "match_photo") %>
</div>
