<h1> Welcome Agent <%=current_user.name%></h1>
<p>Have you found a ping-pong table recently? Share with others!
  Drop a pin of your current location and upload photos of the table to share
  with people. You can rate, add descriptions of your own findings and also
  comment on other people's findings.</p>
<%=link_to "I found a table", new_table_path, class: "btn btn-primary" %>
