<h1> Found a nice public ping-pong table? Share with others! </h1>
<p><span class="strong">Sign up</span> now and become one of the BAT agents. Drop a pin of your current
      location and upload photos of the table to share with people. You can
      rate, add descriptions of your own findings and also comment on other people's findings.</p>
<%=link_to "Sign up now and become a BAT agent", "#", class: "btn btn-primary", id:"bat_agent"%>
<div class="signup_block">
  <!-- <div class="social">
      <%=link_to "Sign in with Facebook", "#", class:"facebook social_signup" %>
      <%=link_to "Sign in with Google", "#", class:"google social_signup" %>
  </div> -->
    <%=render partial: 'users/form', locals: { var: true } %>
</div>
