<div class='content'>
  <h3>Credits</h3>
  <p>Icons: </p>
  <p><%=image_tag('parking.svg', class:'icon-small')%> - Icon made by <%=link_to "Dimitry Miroliubov", "http://www.flaticon.com/authors/dimitry-miroliubov", class:'link-primary'%> from <%=link_to "flaticon", "http://www.flaticon.com", class:'link-primary'%></p>
  <p><%=image_tag('edit.svg', class:'icon-small')%> - Icon made by <%=link_to "Madebyoliver", "http://www.flaticon.com/authors/madebyoliver", class:'link-primary'%> from <%=link_to "flaticon", "http://www.flaticon.com", class:'link-primary'%></p>
  <p><%=image_tag('pin.svg', class:'icon-small')%> - Icon made by <%=link_to "Madebyoliver", "http://www.flaticon.com/authors/madebyoliver", class:'link-primary'%> from <%=link_to "flaticon", "http://www.flaticon.com", class:'link-primary'%></p>
  <p>All other icons made by <%=link_to "Freepik", "http://www.freepik.com",class:'link-primary'%> from <%=link_to "flaticon", "http://www.flaticon.com", class:'link-primary'%>
</div>
