<div class="background background-home">
  <p class="text">
    Fancy a match? Find a public ping-pong table with BATMAP!
  </p>
</div>
<div class="sign_up">
  <% if logged_in? %>
    <%=render 'static_pages/logged_in'%>
  <% else %>
    <%=render 'static_pages/nonlogin'%>
  <% end %>
</div>
<%=render 'static_pages/batmatch' %>
