<div class="right-part photo-calendar">
  <%=render 'userinfo'%>
  <div class='info-wrap'>
    <h3> About the bid </h3>
    <div class='facility-wrap'>
      <div class='facility'>
        <%=image_tag('bid.svg', class:'icon-small icon-position')%>
        <span class='explanation'>
          <% if @bid.nil? %>
            'Bid dropped'
          <% else %>
            Bidded at: <%=@bid.created_at.to_formatted_s(:short)%>
          <% end %>
        </span>
        <div>
          <% if !@bid.nil? && @bid.valid_bid && current_user != @bid.bidder && @match.start_at > Time.now %>
            <%=render partial: 'match_bids/update_form',
               locals: { bidder: @bid.bidder, change: true, match_id: @match.id,
                        var: false, action: 'Accept'}%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class='info-wrap'>
    <h3> About the match </h3>
    <div class='facility-wrap'>
      <div class='facility'>
        <%=image_tag('schedule.svg', class:'icon-small icon-position')%>
        <span class='explanation'>
          Start at: <%=@match.start_at.to_formatted_s(:short)%>
        </span>
      </div>
      <div class='facility'>
        <%=image_tag('bids.svg', class:'icon-small icon-position')%>
        <span class='explanation'>
          <% if ((bids_count(@match) > 1) && (!@bid.nil?))%>
            Bids: <%=bids_count(@match) - 1 %> other people bidded
          <% elsif ((bids_count(@match) == 1) && (!@bid.nil?)) %>
            Bids: This is the only bidder
          <% else %>
            Bids: <%=bids_count(@match) %> people bidded
          <% end %>
        </span>
      </div>
    </div>
  </div>
  <div class='info-wrap'>
    <h3> About the table </h3>
    <%=render partial: 'shared/carousel-index', locals: {table: @table} %>
    <%=render 'tables/facility' %>
  </div>
</div>
