<%=form_for :message, url: conversation_messages_path(@conversation),
              html:{class:'clearfix', id:'new_message'}, remote: true do |f| %>
    <%=f.text_area :content, placeholder: placeholder,
                    class: 'textarea', rows: 5; %>
    <%=f.submit 'Send message', class:"btn btn-primary btn-signup " %>
<% end %>
