<% if message.notice%>
  <div class='message notice explanation'>
    <%=message.content%> - <%=message.created_at.to_formatted_s(:short)%>
 </div>

<% else %>
  <div class = "message <%=(message.author_id == var)?
              'message_sent' : 'message_received'%>"
                                      data-user-id="<%= message.author_id%>">
    <div class='avatar'>
      <%=link_to user_path(message.author_id), class: 'link-primary' do %>
        <div class='avatar-img'><%=gravatar_for(message.author, 33)%></div>
        <div class='explanation'><%=message.author.name %></div>
      <% end %>
    </div>
    <div class='message_wrap'>
      <div class='explanation message_content'><%=message.content %></div>
      <div class='message_date'><%=message.render_date %></div>
    </div>
  </div>
<% end %>
