<div class="matchinfo-wrap">
  <div class='matchinfo'>
    <h3> Leave a lovely message to the proposer </h3>
    <% placeholder = "Hi, I'm " + "#{@current_user.name}," +
        " I'd like to play the match with you" %>
    <%=render partial: 'messages/form', locals: {placeholder: placeholder} %>
  </div>
</div>
