<div class='user_info'>
  <%=gravatar_for(@participant,150)%>
  <h2><%=@participant.name%></h2>
  <div class='badges'>
    <div class='badge'>
      <%=image_tag('badge.svg', size: 20)%>
      <span class='explanation'><%=@participant.tables.count%> badges</span>
    </div>
    <div class='badge'>
      <%=image_tag('star.svg', size: 20)%>
      <span class='explanation'><%=@participant.rated_tables.count%> stars</span>
    </div>
  </div>
</div>
