(function(){
  $('#error_explanation').remove();
  <% if @message.new_record? %>
    var errors = "<%=j render 'shared/error_messages', object: @message %>";
    $('.matchinfo').prepend(errors);
    $('#messages').prepend(errors);
    $('html, body').animate({scrollTop: $("#error_explanation").offset().top}, 500)
  <% else %>
    $('.matchinfo-wrap').remove();
    $('#new_message')[0].reset();
    $('#new_message').after("<%=j render partial: @message, locals: { var: current_user.id} %>")
  <% end %>
}) ()
