(function(){
  $('.messages-list').append("<%=j render partial: @messages, locals: {var: current_user.id} %>");
  <% if @messages.next_page %>
    $('.pagination').replaceWith("<%=j will_paginate(@messages)%>")
  <% else %>
    $('.load-message').replaceWith("<h3>No more messages</h3>")
  <% end %>
}) ()
