<div class='content'>
  <h2><%=@conversation.subject%></h2>
  <div class='table_info'>
    <div class='left-part messages' id="messages" data-conversation-id="<%= @conversation.id %>">
      <%=render partial: 'form', locals: {placeholder: ''} %>
      <div class="messages-list"><%=render partial: @messages, locals: { var: current_user.id} %></div>
      <%=link_to("Load more messages", "#",
                class: "link-primary load-message") if (@messages.count > 8)  %>
      <div class='pagecount'><%=will_paginate %></div>
    </div>
    <%=render 'bidinfo' unless (@bid.nil? && @match.nil?)%>
  </div>
</div>
