  <%=form_for :session, url: login_path, remote: var do |f| %>

    <%=f.email_field :email, placeholder: 'Email', class: "form-field" %>

    <%=f.password_field :password, placeholder: 'Password', class: "form-field" %>

    <%=f.submit "Log in", class:"btn btn-primary btn-signup" %>

    <%=f.label :remember_me, class: "checkbox" do %>
      <%=f.check_box :remember_me, {checked: true} %>
      <span>Remember me on this computer</span>
    <% end %>

    <%=link_to "forgot password?", new_password_reset_path, class: "link-primary link-small"%>    
  <% end %>
