<% provide(:title, "Log in") %>

<div class="login_block clearfix">
  <%=image_tag("drawing.png", class: "drawing", height: 202, width: 250)%>
  <div class="login_form clearfix login_page">
    <h2>Log in as BAT agent</h2>
    <%=link_to "not yet a BATAgent? Join now!", signup_path,
                                      class: "link-primary link-small"%>

    <!-- <div class="social">
      <%=link_to "Log in with Facebook", "#", class:"facebook social_login" %>
      <%=link_to "Log in with Google", "#", class:"google social_login" %>
    </div> -->
    <%=render partial: 'sessions/login', locals: {var: false}%>
  </div>
</div>
