<%=form_for @reply, url: comment_replies_path(comment_id: @comment.id), method: :post,
        html: {class: "comment_form reply_form"}, remote: true do |f| %>
  <%=f.hidden_field :table_id, value: @comment.table_id %>
  <%=f.hidden_field :parent_id, value: @comment.id%>
  <%=f.hidden_field :title, value: 'reply to: ' + @comment.title %>
  <%=f.text_area :content, class: "textarea",
        placeholder: 'Add reply to ' + @comment.user.name + '...'%>
  <%=f.submit 'Submit', class:'btn btn-primary btn-signup'%>
  <%=link_to 'Cancel', '#', class: 'btn btn-secondary cancel-reply'%>
<% end %>
