(function(){
  $('#error_explanation').remove()
  <% if @reply.new_record? %>
    var errors = "<%=j render 'shared/error_messages', object: @reply %>";
    $('.reply_form').prepend(errors);
    $('html, body').animate({scrollTop: $("#error_explanation").offset().top}, 500)
  <% else %>
    $('.reply_form').remove();
    $('.left-part').append("<%=j render partial: 'comments/comment', locals: {comment: @reply}%>")
  <% end %>
}) ()
