<% provide(:title, "Reset password") %>

<div class="row clearfix">
    <h2>Reset password</h2>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= hidden_field_tag :email, @user.email%>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-field' %>

      <%= f.label :confirmation %>
      <%= f.password_field :password_confirmation, class: 'form-field' %>

      <%= f.submit "Submit", class: "btn btn-primary btn-signup" %>
    <% end %>
</div>
