<% provide(:title, "Forgot password") %>

<div class="row clearfix">
  <h2>Reset password</h2>
  <%= form_for(:password_reset, url: password_resets_path) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-field' %>

    <%= f.submit "Submit", class: "btn btn-primary btn-signup" %>
  <% end %>
</div>
