<h1>BATMAP</h1>

<p>Hi Agent <%= @user.name %>,</p>

<p>Please click on the link below to reset your password!</p>

<%=link_to "Reset", edit_password_reset_url(@user.reset_token,
                                                email: @user.email) %>
