<h1>BATMAP</h1>

<p>Hi <%= @user.name %>,</p>

<p>
Welcome to BATMAP, you're only one step away from becoming a proud BAT agent!
Click on the link below to activate your account:
</p>

<%=link_to "Activate", edit_user_activation_url(@user.activation_token,
                                                email: @user.email) %>
