Hi <%=@user.name %>

Welcome to BATMAP, you're only one step away from becoming a proud BAT agent!
Click on the link below to activate your account:

<%= edit_user_activation_url(@user.activation_token, email: @user.email) %>
