<div class="comment" data-id="<%=comment.id%>">
  <div class="user_info">
    <%=gravatar_for(@current_user, 33) unless @current_user.nil?%>
    <div class='explanation'><%=comment.user.name%></div>
  </div>

  <div class="review clearfix" data-commentid='<%=comment.id%>'>
    <div class='reply'>
      <% unless comment.parent.nil? %>
        reply to: <%=truncate(comment.parent.content, length: 20)%>
      <% end %>
    </div>
    <div class='comment-title'><%=comment.title if comment.parent.nil?%></div>
    <div class='comment-content'><%=comment.content %></div>
    <% if comment.user == @current_user && !@current_user.nil?%>
      <%=link_to image_tag('bin.svg', size:15), comment_path(comment),
         method: :delete, remote: true, class:'btn-signup', title: 'delete'%>
      <%=link_to image_tag('edit.svg', size:15),edit_comment_path(comment),
         remote: true, class: 'btn-signup btn-margin', title: 'edit'%>
    <% elsif %>
      <% if already_voted?(comment) %>
        <%=render partial: 'votes/vote', locals: {comment: comment,
         method: :delete, url: comment_vote_path(vote(comment),comment_id: comment.id),
         css: 'link-secondary'} %>
      <% else %>
        <%=render partial: 'votes/vote', locals: {comment: comment,
          method: :post, url: comment_votes_path(comment_id: comment.id),
          css: 'link-primary'} %>
      <% end %>
      <%=link_to image_tag('reply.svg', size:15),
         new_comment_reply_path(comment_id: comment.id), title: 'reply',remote: true,
         class: 'link-primary btn-signup btn-margin' %>
    <% end %>
  </div>
</div>
