<%=form_for comment, url: url, method: method,
            html: {class: "comment_form"}, remote: true do |f| %>

  <%=f.hidden_field :table_id, value: @table.id %>

  <%=f.label :title %>
  <%=f.text_field :title, class:"form-field"%>

  <%=f.label :review %>
  <%=f.text_area :content, class: "textarea",
                placeholder: "What do you think of the table?" %>

  <%=f.submit submit_text, class:'btn btn-primary btn-signup'%>
<% end %>
