<h2> Leave a review of the table </h2>
<%=render partial: 'comments/form1', locals: {submit_text: 'Finish my finding',
       comment: Comment.new, method: 'POST', url: comments_path} %>
<%=link_to "Skip", table_path(@table), class:"btn btn-secondary btn-signup
                                                btn-margin" %>
