(function(){
  $('#error_explanation').remove()
  <% if @comment.new_record? %>
    var errors = "<%=j render 'shared/error_messages', object: @comment %>";
    $('.comment_form').prepend(errors);
    $('html, body').animate({scrollTop: $("#error_explanation").offset().top}, 500)
  <% else %>
    window.location.href = "<%=table_path(@comment.table_id) %>"
  <% end %>
}) ()
