(function(){
  $('[data-commentid="<%=@comment.id%>"]')
  .replaceWith("<%=j render partial: 'form1', locals: {submit_text: 'Update', comment: @comment, url: comment_path(@comment), method: 'PATCH'} %>");
  var selectedComment = $("#edit_comment_<%=@comment.id%>");
  $(document).on('click.editComment',function(event){
    if (!$.contains(selectedComment[0], event.target)){
      $(document).off('click.editComment');
      $('[data-id="<%=@comment.id%>"]').replaceWith("<%=j render @comment%>");
    }
  });
}) ()
