<% present conversation do |conversation_presenter| %>

<div class="conversation <%=conversation_presenter.css%>"
     id="conversation_<%= conversation.id %>"
     data-sender-id='<%= conversation_presenter.sender_id%>'>

  <%=conversation_presenter.avatar%>

  <div class="conversation-counterpart-name conversation-info truncate">
    <%=conversation_presenter.name %>
  </div>


  <div class='conversation-subject conversation-info truncate'>
    <%=link_to conversation_messages_path(conversation),
                                          class:'link-gray truncate' do |n|%>
      <%=conversation_presenter.subject %>
      <div class='last-message truncate'>
        <%=conversation_presenter.last_message%>
      </div>
    <% end %>
  </div>

  <div class="conversation-status conversation-info">
    <%=conversation_presenter.status%>
  </div>

  <div class="conversation-date conversation-info">
    <%=conversation_presenter.last_date%>
  </div>

</div>

<% end %>
