<div class='pop-up pop-up-conversation'>
  <div class='conversation-form login_form'>
    <h3>Send <%=@receiver.name%> a message</h3>
    <%= form_for @conversation, remote: true do |f| %>
      <%= f.label :subject %>
      <%= f.text_field :subject, class: 'form-field'%>
      <%= f.hidden_field :receiver_id, value: @receiver.id %>
      <%= f.fields_for :messages do |builder| %>
        <%= builder.label :content %>
        <%= builder.text_area :content, class: 'text_area' %>
      <% end %>
      <%=link_to 'Cancel', "#", class: 'btn btn-secondary exit'%>
      <%= f.submit "Submit", class: 'btn btn-primary btn-signup' %>
    <% end %>
  </div>
</div>
