<div class="conversation unread"
     id="conversation_<%= conversation.id %>"
     data-sender-id='<%= conversation.sender_id%>'>

  <%=gravatar_for(conversation.sender, 25)%>

  <div class="conversation-counterpart-name conversation-info truncate">
    <%=conversation.sender.name %>
  </div>


  <div class='conversation-subject conversation-info truncate'>
    <%=link_to conversation_messages_path(conversation),
                                          class:'link-gray truncate' do |n|%>
      <%=conversation.subject %>
      <div class='last-message truncate'>
      </div>
    <% end %>
  </div>

  <div class="conversation-status conversation-info">
    <%=conversation.status %>
  </div>

  <div class="conversation-date conversation-info">
    <%=conversation.render_date%>
  </div>

</div>
