(function(){
  $('#error_explanation').remove()
  <% if @conversation.new_record? %>
    var errors = "<%=j render 'shared/error_messages', object: @conversation %>";
    <% if !@match.nil? %>
      $('.calendar').prepend(errors);
      $('html, body').animate({scrollTop: $("#error_explanation").offset().top}, 500)
    <% else %>
      $('.conversation-form').prepend(errors);
    <% end %>
  <% else %>
    <% if !@match.nil? %>
      $('.calendar').append("<%=j render partial: 'messages/popup'%>")
    <% else %>
      $('.pop-up-conversation').remove();
    <% end %>
  <% end %>
}) ()
