<div class='content'>
  <div class='dropdown_menu'>
    <select name="" id="filter">
      <option value="participating" selected="selected">All messages</option>
      <option value="my_matches">My matches</option>
      <option value="my_bids">My bids</option>
      <option value="my_PM">Other messages</option>
      <option value="unread">Unread</option>
    </select>
  </div>

  <div class='conversations'>
    <%=render partial: @conversations %>
  </div>

  <div class='conversations-pagecount pagecount'>
    <%=will_paginate%>
  </div>

  <div class='conversations-notice'>
  </div>

</div>
