(function(){
  <% if @conversations.empty? %>
    $('.conversations').html("")
    $('.conversations-notice').html("<h3>No conversations for this category</h3>")
    $('.conversations-pagecount').html("<%=j will_paginate(@converations)%>");
  <% elsif @load_more %>
    $('.conversations').append("<%=j render partial: @conversations, locals: {var: current_user}%>");
    <% if @conversations.next_page %>
      $('.pagination').replaceWith("<%=j will_paginate(@conversations)%>");
    <% else %>
      $('.conversations-notice').html("<h3>No more conversations</h3>");
    <% end %>
  <% else %>
    $('.conversations').html("<%=j render partial: @conversations, locals: {var: current_user}%>");
    $('.conversations-pagecount').html("<%=j will_paginate(@conversations)%>")
    $('.conversations-notice').html("");
  <% end %>
}) ()
