<%url = if !notification.conversation_id.blank?
          conversation_messages_path(conversation_id: notification.conversation_id)
        else
          user_path(notification.receiver_id)
        end %>
<%=link_to url do %>
  <li class="<%='unread' unless notification.read %>"
                                        data-notification= "<%=notification.id%>">
    <div class='notification-type'>
      <%=notification.title%>
    </div>
    <div class='clearfix notification-contentwrap'>
      <div class='notification-avatar'>
        <%if !notification.conversation_id.blank? %>
          <%=image_tag('match.svg',size: 30)%>
        <% elsif notification.title == 'BATBadge' %>
          <%=image_tag('badge',size: 30)%>
        <% else %>
          <%=image_tag('star',size: 30)%>
        <% end %>
      </div>
      <div class='notification-content'>
        <%=notification.content%>
      </div>
    </div>
    <div class='notification-time'>
      <%=distance_of_time_in_words(Time.now, notification.created_at)%> ago
    </div>
  </li>
<% end %>
