<%= form_for @user, remote: var do |f| %>

  <%=render 'shared/error_messages', object: f.object%>

  <%=f.text_field :name, placeholder: 'Username', class: 'form-field'%>

  <%=f.email_field :email, placeholder: 'Email', class:'form-field' %>

  <%=f.password_field :password, placeholder: 'Password', class:'form-field' %>

  <%=f.password_field :password_confirmation, placeholder: 'Confirm password',class:'form-field'%>

  <%=f.submit 'Sign up', class: 'btn btn-primary btn-signup',data: {disable_with: "Loading"} %>

<% end %>
