<div class='legend'>
  <div class='legend_title legend_lightgreen'></div>
  <span class="explanation"><%=user.name%>'s proposed matches</span>
</div>
<div class='legend'>
  <div class='legend_title legend_green'></div>
  <span class="explanation"><%=user.name%>'s confirmed matches</span>
</div>
<% if @current_user == user %>
  <div class='legend'>
    <div class='legend_title legend_orange'></div>
    <span class="explanation"><%=user.name%>'s bidded matches</span>
  </div>
<% end %>
<div class='legend'>
  <div class='legend_title legend_gray'></div>
  <span class="explanation">passed matches</span>
</div>
