<% @rated_tables.each do |table| %>
  <div class='user-fav-table'>
    <%=render partial: 'shared/carousel-index', locals: {table: table}%>
    <div class='user-fav-table-rating'>
      <span class='explanation'><%=table.address%></span>
      <div class='overal_rating'>
        <%=render partial: 'shared/my-rating', locals: {rating: table.my_rating(@user)} %>
      </div>  
    </div>
  </div>
<% end %>
