<% @wish_tables.each do |table| %>
  <div class='user-fav-table'>
    <%=render partial: 'shared/carousel-index', locals: {table: table}%>
    <div class='user-fav-table-rating'>
      <%=render partial: 'shared/rating-index', locals: {table: table} %>
    </div>
  </div>
<% end %>
