(function(){
  $('#error_explanation').remove()
  <% if @user.errors.any? %>
    var errors = "<%=j render 'shared/error_messages', object: @user %>";
    $('#new_user').prepend(errors);
  <% else %>
    var flash = "<%= j render 'shared/flash' %>";
    $("#bat_agent").after(flash);
    $(".signup_block").css("display", "none");
  <% end %>
}) ()
