<% provide(:title, "Sign up") %>

<div class="content">
  <h1> Sign up now to become a BATAgent! </h1>
  <div class="signup_block signup_page">
    <!-- <div class="social">
        <%=link_to "Sign in with Facebook", "#", class:"facebook social_signup" %>
        <%=link_to "Sign in with Google", "#", class:"google social_signup" %>
    </div> -->
      <%=render partial: 'users/form', locals: { var: false } %>
  </div>
</div>
