(function(){
  <% if @rated %>
    $('.user-played').append("<%=j render 'rated_tables' %>");
    <% if @rated_tables.next_page %>
      $('.user-favoriate1 .pagination').replaceWith("<%=j will_paginate(@rated_tables)%>")
    <% else %>
      $('.user-favoriate1 .load-message').replaceWith("<h3 class='load-message'>No more tables</h3>")
    <% end %>
  <% else %>
    $('.user-wished').append("<%=j render 'wished_tables'%>");
    <% if @wish_tables.next_page %>
      $('.user-favoriate2 .pagination').replaceWith("<%=j will_paginate(@wish_tables)%>")
    <% else %>
      $('.user-favoriate2 .load-message').replaceWith("<h3 class='load-message'>No more tables</h3>")
    <% end %>
  <% end %>
}) ()
