<div class='content'>
  <div class='table_info'>
    <div class='left-part user-description'>
      <h1> Hi there, I'm agent <%=@user.name%> </h1>
      <p class='description'><%=@user.description%></p>
      <%=link_to 'edit', "#", id: 'description', class: 'link-primary' if @user == @current_user%>

      <div class='user-favoriate user-favoriate1'>
        <h4> Tables I've played on <span class='explanation'>(<%=@rated_tables.count%>)</span></h4>
        <div class='user-fav-tables user-played'>
          <%=render 'rated_tables'%>
        </div>
        <%=link_to 'load more', "#", class: "load-message link-primary" if @rated_tables.next_page %>
        <div class='pagecount'><%=will_paginate(@rated_tables)%></div>
     </div>

      <div class='user-favoriate user-favoriate2'>
        <h4> My wish list <span class='explanation'>(<%=@wish_tables.count%>)</span></h4>
        <div class='user-fav-tables user-wished'>
          <%=render 'wished_tables'%>
        </div>
        <%=link_to 'load more', "#", class: "load-message link-primary" if @wish_tables.next_page %>
        <div class='pagecount'><%=will_paginate(@wish_tables)%></div>
      </div>

      <h4> My BatMatch calendar </h4>
      <div class='user-calendar-wrap'>
        <div class='calendar user-calendar'></div>
        <div id="calendarBin"><%=image_tag('bin.svg', class:"icon-small icon-position")%></div>
        <div class='user-legend clearfix'>
          <%=render partial: 'legend', locals: {user: @user}%>
        </div>
      </div>
    </div>

    <div class='right-part photo-calendar'>
      <div class='user_info'>
        <div class='user-basic' data-userid = "<%=@user.id%>">
          <%=gravatar_for(@user, 150)%>
          <h2><%=@user.name %></h2>
          <% unless @user == @current_user %>
            <%=link_to '#', id: 'message-me', class: 'link-primary' do %>
              <div class='facility user-message-me'>
                <%=image_tag('message-me.svg', class:'icon-small icon-position', size: 5)%>
                <span class='explanation'>Send me a message</span>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="info-wrap">
          <h3> About me </h3>
          <div class='facility-wrap'>
            <div class='facility'>
              <%=image_tag('house.svg',class:'icon-small icon-position')%>
              <span class='explanation location'>
                <span class='current_address'><%=@user.location.nil? ? 'No info' : @user.location%></span>
                <%=link_to 'edit', "#", id: 'location', class: 'link-primary' if @user == @current_user%>
              </span>
            </div>
            <div class='facility'>
              <%=image_tag('agent.svg', class:'icon-small icon-position')%>
              <span class="explanation">Agent since <%=@user.created_at.strftime("%d %b, %Y")%></span>
            </div>
            <div class='facility'>
              <%=image_tag('badge.svg', class:'icon-small icon-position')%>
              <span class="explanation"><%=pluralize(@user.tables.count, 'badge')%></span>
            </div>
            <div class='facility'>
              <%=image_tag('star.svg', class:'icon-small icon-position')%>
              <span class="explanation"><%=pluralize(@user.ratings.count, 'star')%></span>
            </div>
            <div class='facility'>
              <%=image_tag('match.svg', class:'icon-small icon-position')%>
              <span class="explanation"><%=pluralize(@user.matches, 'match')%></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
