(function(){
  $('#error_explanation').remove()
  <% if @user.errors.any? %>
    var errors = "<%=j render 'shared/error_messages', object: @user %>";
    <% if @description %>
      $('.description').prepend(errors);
    <% else %>
      $('.location').prepend(errors);
    <% end %>
  <% else %>
    <% if @description %>
      placeholder = "<%=@user.description%>"
      $('.description').html(placeholder)
      $('#des-cancel').replaceWith("<a id='description' class='link-primary' href='#''>edit</a>");
    <% else %>
      <%if @user.location.blank? %>
        current_address = "No info"
      <% else %>
        current_address = "<%=@user.location%>"
      <% end %>
      $('.current_address').html(current_address);
      $('#location').show();
    <% end %>
  <% end %>
}) ()
