<% if table.pictures.any? %>
    <div class='carousel-index'>
      <% table.pictures.each do |pic| %>
        <%= link_to table do %>
          <%=image_tag(pic.picture.url(:index))%>
        <% end %>
      <% end %>
    </div>
<% else %>
  <%=link_to table do %>
    <%=image_tag('fallback/index_default.png', class:'default-img')%>
  <% end %>
<% end %>
