<div class="carousel">
    <%@pictures.each do |pic|%>
      <div>
        <%=image_tag(pic.picture.url(:show),
              class: "table_standard")%>
      </div>
    <% end %>
</div>

<div class="carousel-small">
    <%@pictures.each do |pic| %>
      <div>
        <%=image_tag(pic.picture.url(:slicknav))%>
      </div>
    <% end %>
</div>
