var errorKeys = <%=raw @user.errors.keys.map { |e| "user[#{e}]"}%>;
  console.log($(this).attr('name'), console.log(errorKeys));
  if (errorKeys.includes($(this).attr("name"))) {
    $(this).toggleClass(".form-field-invalid");
  };
});
