<span class="explanation">(My rating:</span>
<div class="full_rating small_stars">★★★★★
  <div class="real_rating your_rating"
       style="width:<%=number_to_percentage(rating.overal_rating/10*100,
                                precision: 0)%>">
  ★★★★★</div>
</div>
<span class="explanation"><%=number_with_precision(rating.overal_rating,
                                                precision: 1) %>)</span>
