<%=link_to image_tag('notification.svg', class:'icon-small icon-position'), "#",
                                                  title: 'see notifications'%>
<div class="notification-number" style="<%='display: none' unless
                                has_unseen?(@current_user)%>">
    <%=unseen_count(@current_user) if has_unseen?(@current_user)%>
</div>
<div class='dropdown-menu notification-dropdown'>
  <div class='notification-title'>
    Notifications
  </div>
  <ul class='notification-list'>
    <%=render notifications(@current_user) %>
  </ul>
</div>
