<%=link_to gravatar_for(@current_user, 25), "#" ,title: 'see my profile'%>
<div class='dropdown-menu profile-dropdown'>
  <ul>
    <li><%=link_to 'My profile', user_path(@current_user), class: 'link-gray'%></li>
    <!-- <li><%=link_to 'Settings', "#", class: 'link-gray'%></li> -->
    <li><%=link_to "Log out",logout_path, method: 'delete', class:'link-gray'%></li>
  </ul>
</div>
