<%= link_to table do%>
  <div class="full_rating">★★★★★
    <div class="real_rating"
         style="width:<%=number_to_percentage((table.overal_rating/10)*100,
                                       precision: 0)%>">
    ★★★★★</div>
  </div>
  <span class='explanation link-primary'><%=pluralize(table.ratings.count,'rating')%></span>
  <div class="link-gray link-small table-address"><%=table.address%></div>
<% end %>
