<%=form_tag(tables_path, method: 'get', class: 'searchbar', enforce_utf8: false) do %>

  <%=text_field_tag :search, params[:search], placeholder: '🔍    Search by address',
                                              class: 'search',
                                              id: 'autocomplete'%>
  <%=submit_tag('submit', class:'btn btn-primary', id:"search-btn")%>

<% end %>
