$('.rate_button').remove();
$('.upload_wrap').append("<%=j render 'pictures/upload' %>").fadeIn('slow');
$('html, body').animate({scrollTop: $(".upload_wrap").offset().top}, 1500);
upload_photo();
$('.upload_wrap').on('click', '.pic_button', function(event){
  event.preventDefault();
  if (!$('.photo_preview').children().length) {
    $('.photo_preview').append("<p class='alert alert-danger'>" +
                                "No photos have been uploaded!</p>");
  } else {
    showComment();
  }
});

$('.upload_wrap').on('click', '.btn-skip', function(event){
  event.preventDefault();
  $('.alert').remove();
  showComment();
});

 function showComment(){
   $('#freeze-photo').show();
   $('.btn-skip').remove();
   $('.pic_button').remove();
   $('.comment_wrap').append("<%=j render partial: 'comments/form'%>").fadeIn('slow');
   $('html, body').animate({scrollTop: $(".comment_wrap").offset().top}, 1500);
 }
