<%=form_for @rating, url: url, remote: true do |f| %>
  <%=f.hidden_field :table_id, value: params[:table_id] %>
  <%=render partial: 'tables/rating_form', locals: {f: f} %>
  <%=f.submit submit,  class: "btn btn-primary btn-signup rate_button"%>
<% end %>
