<div class="comment">
  <div class='user_info'>
    <%=comment.user.name%>
  </div>
  <div class="review">
    <div class="review_content">
      <p><%=comment.content %></p>
      <p><%=comment.overal_rating %></p>
      <p><%=comment.created_at.strftime("%d %b. %Y") %></p>
    </div>
  </div>
</div>
