(function(){
  $('#error_explanation').remove()
  <% if @rating.errors.any? %>
    var errors = "<%=j render 'shared/error_messages', object: @rating %>";
    $('.right-part').prepend(errors);
  <% else %>
    $('#freeze-rating').show();
    <%=render 'shared/show_upload_photo.js.erb'%>
  <% end %>
}) ()
