<div class="content">
  <h1> Time to rate it! </h1>
  <p> Had fun playing on this table? Please leave a precious review!
    Remember that every table you review will grant you a <span class="strong">
    BATFlag!</span> </p>

  <div class='table_info'>

    <div class="left-part">
      <% if @pictures.any? %>
        <%=render 'shared/carousel'%>
      <% else %>
        <h2> No photos yet for this table, please upload some! </h2>
        <%=image_tag("fallback/default.png")%>
      <% end %>
    </div>

    <div class="right-part right-close">
      <div class="freeze" id="freeze-rating"></div>
      <div class='new_rating-wrapper'>
        <%=render partial: 'form', locals: {url: table_ratings_path, submit: 'Rate it'} %>
      </div>
    </div>

  </div>

  <div class='section_wrap upload_wrap clearfix'>
  </div>

  <div class='section_wrap comment_wrap clearfix'>
  </div>

</div>

<%=render 'shared/tmpl' %>
