(function(){
  $('.rating-wrapper').replaceWith("<%=j render 'tables/rating'%>")
  $('.rating-title').html("<%=j render 'tables/overal_rating'%>")
  rateTable();
  showEditRating();
  likeTable();
}) ()
