<%=form_for :bid, url: match_bids_path(match_id: params[:id]),
                                      method: :post, remote: true do |f| %>
    <%=f.hidden_field :match_id, value: params[:id] %>
    <%=f.submit 'Bid for this', class:"btn btn-primary btn-signup " %>
<% end %>
