<%=form_for :bid, url: match_match_bid_path(match_id: match_id, id: match_id),
            html: {class: 'form-inline'}, method: :patch, remote: var do |f| %>
    <%=f.hidden_field :bidder_id, value: bidder.id %>
    <%=f.hidden_field :accepted, value: change%>
    <%=f.submit action, class:"btn btn-primary" %>
<% end %>
