(function(){
  $('.matchinfo-wrap').remove();
  $('#error_explanation').remove()
  <% if @bid.new_record? %>
    var errors = "<%=j render 'shared/error_messages', object: @bid %>";
    $('.calendar').prepend(errors);
    $('html, body').animate({scrollTop: $("#error_explanation").offset().top}, 500)
  <% else %>
    var event = $(".calendar").fullCalendar('clientEvents', [<%=@match.id %>])[0];
    event.color = 'orange'
    $('.calendar').fullCalendar('updateEvent', event);
      params = {
        bid_id : <%=@bid.id%>,
        match_id : <%=@match.id%>
      };
      $.ajax ({
      url: "/conversations",
      data: params,
      type: 'POST'
    });
<% end %>
}) ()
