(function(){
  $('.matchinfo-wrap').remove();
  $('#error_explanation').remove()
  <% if @bid.errors.any? %>
    var errors = "<%=j render 'shared/error_messages', object: @bid %>";
    $('.calendar').prepend(errors);
    $('html, body').animate({scrollTop: $("#error_explanation").offset().top}, 500)
  <% else %>
    var event = $(".calendar").fullCalendar('clientEvents', [<%=@match.id %>])[0];
    <% if @bid.accepted %>
      event.color = 'green'
      $('.calendar').fullCalendar('updateEvent', event);
    <% else %>
      event.color = 'lightgreen'
      $('.calendar').fullCalendar('updateEvent', event);
      $('.calendar').append("<%=j render partial: 'matches/matchinfo', locals: {match: @match.reload} %>")
    <% end %>
  <% end %>
}) ()
