<div class="facility-wrap">

  <div class='facility'>
    <%=image_tag('pin.svg', class:"icon-small icon-position", title: 'address') %>
    <span class="explanation">
        <%=@table.address %>
    </span>
  </div>

  <div class="facility">
    <%=image_tag('ping-pong-table.svg', class:"icon-small icon-position",
                                        title: 'number of tables')%>
    <span class="explanation">
      <% unless @table.table_number == '5 or more'%>
        <%=pluralize(@table.table_number, "table")%>
      <% else %>
        <%=@table.table_number %> tables
      <% end %>
    </span>
  </div>

  <div class="facility <%='gray' unless @table.toilet%>">
    <%=image_tag('bathroom.svg', class:"icon-small icon-position",
                                 title: 'toilets around')%>
    <span class="explanation">
        Toilet nearby
    </span>
  </div>

  <div class="facility <%='gray' unless @table.parking%>">
    <%=image_tag('parking.svg', class:"icon-small icon-position",
                                title: 'parking around')%>
    <span class="explanation">
        Onsite parking
    </span>
  </div>

  <div class="facility <%='gray' unless @table.picnic%>">
    <%=image_tag('picnic-table.svg', class:"icon-small icon-position",
                                      title: 'picnic tables around')%>
    <span class="explanation">
        Picnic table nearby
    </span>
  </div>

  <div class="facility <%='gray' unless @table.playground%>">
    <%=image_tag('playground.svg', class:"icon-small icon-position",
                                    title: 'playground around')%>
    <span class="explanation">
        Playground nearby
    </span>
  </div>

</div>
