<%=form_for(@table, html: { multipart: true}, remote: true) do |f| %>
  <div class='freeze' id="freeze-table"></div>
    <%=render 'shared/error_messages', object: f.object %>

    <%=f.hidden_field :latitude, id: 'newpin_lat' %>
    <%=f.hidden_field :longitude, id: 'newpin_lng' %>

    <div class='table_info'>
      <div class="left-part">
        <div style='width: 700px'>
          <div id="map" style='width: 700px; height: 400px;'>
            <div class='loading'>
              <h3>Loading map with your current location...</h3>
            </div>
          </div>
        </div>
        <div class="location_search">
          <%=form_for :search do |f| %>
            <%=f.text_field(:search, placeholder: '🔍  Search by address/coordinates',
                                   id: 'newpin_adr', class: 'search')%>
            <%=f.submit('Search', class:'btn btn-signup btn-secondary',
                        id:'new_pin')%>
          <% end %>
        </div>
      </div>

      <div class='right-part'>
        <%=render partial: 'new_checkbox', locals: {f: f}%>
        <div class="rating_form">
          <%=render partial: 'rating_form', locals: {f: f}%>
        </div>

        <div class='rate_button'>
          <%=f.submit "Create table and upload photos", class: "btn btn-primary"%>
        </div>
      </div>
    </div>
<% end %>
