<div class="table-infowindow">

  <div class='frame-infowindow'>
    <% if table.pictures.any? %>
        <div class='carousel-index'>
          <% table.pictures.each do |pic| %>
            <%= link_to table do %>
              <%=image_tag(pic.picture.url(:index), width: 300)%>
            <% end %>
          <% end %>
        </div>
    <% else %>
      <%=image_tag('fallback/index_default.png')%>
    <% end %>
  </div>

  <%= link_to table do%>
    <div class="full_rating">★★★★★
      <div class="real_rating"
           style="width:<%=number_to_percentage((table.overal_rating/10)*100,
                                         precision: 0)%>">
      ★★★★★</div>
    </div>
    <span class='explanation'><%=table.ratings.count%> comments</span>
  <% end %>
</div>
