<div class='explanation'>
  Click on the icon if the table has below facilities
</div>

<div class="item">
  <%=f.check_box :parking, class: 'checkbox' %>
  <%=f.label :parking, title: 'Free on-site parking' do %>
    <%=image_tag('parking.svg', class:'icon')%>
    <span class="checkbox-tick">✔</span>
  <% end %>
</div>

<div class="item">
  <%=f.check_box :playground, class: 'checkbox'  %>
  <%=f.label :playground, title: 'Playground around' do %>
    <%=image_tag('playground.svg', class:'icon')%>
    <span class="checkbox-tick">✔</span>
  <% end %>
</div>

<div class="item">
  <%=f.check_box :toilet, class: 'checkbox'  %>
  <%=f.label :toilet, title: 'Toilets around' do %>
    <%=image_tag('bathroom.svg', class:'icon')%>
    <span class="checkbox-tick">✔</span>
  <% end %>
</div>

<div class="item">
  <%=f.check_box :picnic, class: 'checkbox'  %>
  <%=f.label :picnic, title: 'Picnic tables around' do %>
    <%=image_tag('picnic-table.svg', class:'icon')%>
    <span class="checkbox-tick">✔</span>
  <% end %>
</div>

<div class="dropdown">
  <%=image_tag('ping-pong-table.svg', class:'icon')%>
  <div>
  <%=f.label  :table_number, "Nb. of tables", class: "label_inline", title: 'number of tables' %>
  <%=f.select :table_number, ["1", "2", "3", "4", "5 or more"] %>
</div>
</div>
