<div class="overal_rating">
  <div class="full_rating big_stars">★★★★★
    <div class="real_rating"
         style="width:<%=number_to_percentage(@table.overal_rating/10*100,
                                  precision: 0)%>">
    ★★★★★</div>
  </div>
  <span><%=number_with_precision(@table.overal_rating, precision: 1) %> </span>
</div>
