<div class="rating-wrapper">

  <%=render 'tables/overal_rating'%>

  <% unless @rating.nil? %>
    <div class="overal_rating">
      <%=link_to "#", class:'rating-edit link-gray', title: 'edit rating',
                                            'data-ratingId': "#{@rating.id}" do %>
        <%=render partial: 'shared/my-rating', locals: {rating: @rating}%>
      <% end %>
    </div>
    <div class='rating-edit-form'>
      <%=link_to "×", "#", class: 'exit return link-primary' %>
      <%=render partial: 'ratings/form', locals: {url: table_rating_path(@rating,
              table_id: @rating.table_id), submit: 'update'} %>
    </div>
  <% end %>

  <div class='heart-hollow'>♡<div class="<%=heart_class%>">♥</div></div>

  <div class="rating-detail-wrapper">
    <div class="detail">
      <div class="explanation">Table quality</div>
      <div class="full_rating small_stars">
        ★★★★★
        <div class="real_rating"
           style="width:<%=number_to_percentage(@table.table_rating/10*100,
                                      precision: 0)%>">
        ★★★★★</div>
      </div>
      <span class="explanation"><%=number_with_precision(@table.table_rating,
                                   precision: 1) %></span>
   </div>

   <div class="detail">
     <div class="explanation">Surrounding view</div>
     <div class="full_rating small_stars">
       ★★★★★
       <div class="real_rating"
          style="width:<%=number_to_percentage(@table.surrounding_rating/10*100,
                                     precision: 0)%>">
       ★★★★★</div>
     </div>
     <span class="explanation"><%=number_with_precision(@table.surrounding_rating,
                                  precision: 1) %></span>
   </div>

    <div class="detail">
      <div class="explanation">Availability</div>
      <div class="full_rating small_stars">
        ★★★★★
        <div class="real_rating"
           style="width:<%=number_to_percentage(@table.availability_rating/10*100,
                                      precision: 0)%>">
        ★★★★★</div>
      </div>
      <span class="explanation"><%=number_with_precision(@table.availability_rating,
                                  precision: 1) %></span>
    </div>

    <div class="detail">
      <div class="explanation">Ground quality</div>
      <div class="full_rating small_stars">
        ★★★★★
        <div class="real_rating"
           style="width:<%=number_to_percentage(@table.ground_rating/10*100,
                                      precision: 0)%>">
        ★★★★★</div>
      </div>
      <span class="explanation"><%=number_with_precision(@table.ground_rating,
                                  precision: 1) %></span>
    </div>

  </div>
</div>
