
<%=f.label :availability_rating %>
<%=f.hidden_field :availability_rating, class: "form-field", id:"availability"%>
<div class="user_rating">
  <% for i in 1..10 do
    if !@rating.availability_rating.nil? && i <= @rating.availability_rating%><span class='green' data-id="<%=i%>">★</span><%
    else %><span data-id="<%=i%>">★</span><%
    end %><%
  end %>
</div>

<%=f.label :surrounding_rating %>
<%=f.hidden_field :surrounding_rating, class: "form-field", id:"surrounding"%>
<div class="user_rating">
  <% for i in 1..10 do
    if !@rating.surrounding_rating.nil? && i <= @rating.surrounding_rating%><span class='green' data-id="<%=i%>">★</span><%
    else %><span data-id="<%=i%>">★</span><%
    end %><%
  end %>
</div>

<%=f.label :table_rating %>
<%=f.hidden_field :table_rating, class: "form-field", id:"table"%>
<div class="user_rating">
  <% for i in 1..10 do
    if !@rating.table_rating.nil? && i <= @rating.table_rating%><span class='green' data-id="<%=i%>">★</span><%
    else %><span data-id="<%=i%>">★</span><%
    end %><%
  end %>
</div>

<%=f.label :ground_rating %>
<%=f.hidden_field :ground_rating, class: "form-field", id:"ground"%>
<div class="user_rating">
  <% for i in 1..10 do
    if !@rating.ground_rating.nil? && i <= @rating.ground_rating%><span class='green' data-id="<%=i%>">★</span><%
    else %><span data-id="<%=i%>">★</span><%
    end %><%
  end %>
</div>
