<div class="table">

  <div class='frame-index'>
    <%=render partial: 'shared/carousel-index', locals: { table: table} %>
  </div>

  <%=render partial: 'shared/rating-index', locals: {table: table}%>
</div>
