(function(){
  $('#error_explanation').remove()
  <% if @table.new_record? %>
    var errors = "<%=j render 'shared/error_messages', object: @table %>";
    $('#new_table').prepend(errors);
  <% else %>
    $('#freeze-table').show();
    $('.location_search').remove();
    <%=render 'shared/show_upload_photo.js.erb'%>
  <% end %>
}) ()
