<%=form_for(@table, html: { multipart: true}) do |f| %>

  <%=f.text_field :latitude, placeholder: "Latitude", id: 'newpin_lat' %>
  <%=f.text_field :longitude, placeholder: "longitude", id: 'newpin_lng' %>
  <%=f.label :parking do %>
      <%=f.check_box :parking %>
      <span>Free parking nearby?</span>
  <% end %>
  <%=f.file_field :picture, accept: 'image/jpeg, image/gif, image/png' %>
  <%=f.submit "Finish my finding"%>

<% end %>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>


<%=form_for(:search) do |f| %>
  <%=f.text_field :search, placeholder: '🔍    Search by address/coordinates', id: 'newpin_adr'%>
  <%=f.submit('search', class:'btn btn-primary', id:'new_pin')%>
<% end %>

<script>
  var tableCor = <%=raw @table_cor.to_json%>
</script>


<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4wS9TPSIExN2MI6WvJMk8-o6CqXEeTC4&callback=initMap">
</script>
