<% provide(:title, "Tables") %>

  <div class="tables">
    <%=render @tables %>
  </div>

  <%= will_paginate @tables %>
  <div style='width: 500px;', class="map-wrap">
    <div id="map" style='width: 500px; height: 550px;'></div>
  </div>

<script>
  var res_bound = <%=raw @bounds.to_json %>
  var results = <%=raw @results.to_json%>
  var center = <%=raw @center.to_json%>
  var autofresh = <%=raw @autofresh.to_json%>
  var infowindowarray = <%=raw @infowindowarray.to_json%>
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4wS9TPSIExN2MI6WvJMk8-o6CqXEeTC4&libraries=places&callback=mapResult"
 async defer></script>
