<% if @tables.any? %>
  $('.tables').html("<%=j render @tables %>");
  $('.tables').find('.carousel-index').slick();
  var results = <%=raw @results.to_json%>
  var autofresh = <%=raw @autofresh.to_json%>
  var infowindowarray = <%=raw @infowindowarray.to_json%>

  markers.forEach(function(marker){
    marker.setMap(null);
    marker = null;
  });
  markers = [];

  results.forEach(function(result, i) {
    var marker = new google.maps.Marker({
      position: result,
      map: map,
      id: i
    });
    addInfoWindow(marker, i)
    markers.push(marker);
  });
<% else %>
  $('.tables').html("<h1 class='nores'>No tables in this area</h1>");
<% end %>
