<% provide(:title, "New table") %>

<div class="content clearfix">

  <h1> Good job agent for finding this table! </h1>

  <p> Please drag the pin on the map or type the address in the search bar to
      locate the table and fill in the rating form to give us more information
      about the new table. And don't forget to upload some photos of the table
      and the surroundings! </p>

  <p> Remember that every table you find will grant you a <span class="strong">
    BATBadge!</span> </p>

  <%=render 'form' %>

  <div class='section_wrap upload_wrap clearfix'>
  </div>

  <div class="section_wrap comment_wrap clearfix">
  </div>

</div>




<%=render 'shared/tmpl' %>

<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4wS9TPSIExN2MI6WvJMk8-o6CqXEeTC4&libraries=places&callback=getLocation">
</script>
