<% provide(:title, "Table") %>

<!-- show table info -->
<div class="content-show">
  <div class="table_info" data-tableId="<%=@table.id%>">
    <div class="left-part">

      <% if @comments.any? %>
      <h2 class="quote"><%=@best.title%></h2>
        <span class="quote_user"> — <%=@best.user.name%></span>
      <% else %>
        <h2 class="quote">BAT table</h2>
      <% end %>
      <%=link_to 'delete table', table_path(@table), method: :delete, class: 'btn btn-secondary btn-signup' if admin_user?%>

      <div class='rating-title'>
        <%=render 'overal_rating'%>
      </div>

      <% if @pictures.any? %>
        <%=render 'shared/carousel'%>
      <% else %>
        <%=image_tag('fallback/default.png') %>
      <% end %>

      <%=render "rating" %>


<!-- show comments -->
      <%=render partial: 'comments/form1', locals: { submit_text: 'Submit',
        comment: Comment.new, method: 'POST', url: comments_path}%>
      <% if @comments.any?%>
        <%=render @comments %>
      <% else %>
        <p> No comments about this table yet. </p>
      <% end %>

      <%= will_paginate @comments %>
  </div>




    <div class="right-part show_map">

    <!-- show map -->
       <div style='width: 400px;'>
         <div id="map" style='width: 400px; height: 300px;'></div>
       </div>

    <!-- show facilities    -->

       <%=render 'facility' %>

    <!-- show buttons   -->

       <div class="btn_wrap">

         <%=link_to 'Upload photos', '#', class: "btn btn-secondary", id: "btn-popup" %>
         <%=link_to 'Arrange a BATMATCH', table_matches_path(table_id: params[:id]),
                                                  class: "btn btn-secondary"%>
         <% if @rating.nil?%>
           <%=link_to 'Rate this table', new_table_rating_path(table_id: params[:id]),
                                      class: "btn btn-primary"%>
         <% end %>
         <%=render 'pictures/popup_form'%>
       </div>

    <!-- show calendar  -->


     </div>
   </div>
 </div>





<%=render 'shared/tmpl' %>
<script>
  var tableCor = <%=raw @table_cor.to_json%>
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4wS9TPSIExN2MI6WvJMk8-o6CqXEeTC4&libraries=places&callback=initMap">
</script>
