<%=form_for :pictures, url: pictures_path do |f| %>
  <div class="freeze" id="freeze-photo"></div>
    <%=f.file_field :picture, multiple: true,
                              accept: 'image/jpeg, image/gif, image/png',
                              id: "upload_photo",
                              name: "pictures[picture]"%>
    <%=f.hidden_field :table_id, value: @table.id %>
<% end %>

<ul class="photo_preview">
</ul>
