<li class="frame" id="pic_<%=@picture.id%>"
  style="background-image: url(<%=@picture.picture_url%>)">

  <%=link_to "×", picture_path(@picture), method: :delete, remote: true,
                                          class:"link-primary delete"%>
</li>
