<div class='pop-up-photo pop-up'>
  <div class='login_form popupphoto_form upload_wrap clearfix'>
    <%=link_to "×", table_path(@table), class: "exit link-primary return"%>
    <%=render 'pictures/form' %>
    <%=link_to "Done", table_path(@table),
        class:'btn btn-primary btn-signup'%>
  </div>
</div>
