<h2> Got some photos of the table? Upload them! </h2>

<%=render 'pictures/form' %>

<%=link_to "Upload and leave a review", "#",
    class:'btn btn-primary btn-signup pic_button'%>
<%=link_to "Skip", "#", class:'btn btn-secondary btn-signup btn-skip btn-margin' %>
