(function(){
  $('#error_explanation').remove()
  <% if @picture.new_record? %>
    var errors = "<%=j render 'shared/error_messages', object: @picture %>";
    $('.photo_upload').prepend(errors);
  <% else %>
    $('.photo_preview').append($("<%=j render @picture %>"))
  <% end %>
}) ()
