(function(){
  $('#error_explanation').remove()
  <% if @picture.destroyed? %>
    $("#pic_<%=@picture.id%>").fadeOut();
  <% else %>
    var errors = "<%=j render 'shared/error_messages', object: @picture %>";
    $('.photo_upload').prepend(errors);
  <% end %>
}) ()
