<%=form_for :match, url: table_matches_path, remote: true do |f| %>
    <%=f.hidden_field :start_at, class: "start_time" %>
    <%=f.hidden_field :end_at, class: "end_time" %>
    <%=f.hidden_field :table_id, value: params[:table_id] %>
    <%=link_to 'Cancel', "#" ,class: "btn btn-secondary btn-margin exit"%>
    <%=f.submit 'Propose match', class:"btn btn-primary " %>
<% end %>
