<div class='legend-wrap'>
  <div>
    <div class='legend'>
      <div class='legend_title legend_lightblue'></div>
      <span class="explanation">Match proposed by others and open for bid</span>
    </div>
    <div class='legend'>
      <div class='legend_title legend_blue'></div>
      <span class="explanation">Match proposed by others and confirmed</span>
    </div>
  </div>

  <div>
    <div class='legend'>
      <div class='legend_title legend_lightgreen'></div>
      <span class="explanation">Match proposed by you and open for bid</span>
    </div>
    <div class='legend'>
      <div class='legend_title legend_green'></div>
      <span class="explanation">Match proposed by you and confirmed</span>
    </div>
  </div>

  <div>
    <div class='legend'>
      <div class='legend_title legend_orange'></div>
      <span class="explanation">Match that you bidded but not yet confirmed</span>
    </div>
    <div class='legend'>
      <div class='legend_title legend_red'></div>
      <span class="explanation">Match that you bidded and accepted as accepter</span>
    </div>
  </div>

  <div class='legend'>
    <div class='legend_title legend_gray'></div>
    <span class="explanation">Match/Proposal already passed</span>
  </div>

</div>
