<div class="matchinfo-wrap">
  <div class='matchinfo'>
    <%=link_to "×", "#calendar", class: "link-primary return close"%>
    <h3> BatMatch </h3>
    <div class='match-detail'>
      <strong> Start at: </strong>
      <%=match.start_at.to_formatted_s(:long)  %>
    </div>
    <div class='match-detail'>
      <strong> Duration: </strong> 30 mins
    </div>
    <div class='match-detail'>
      <strong> Address: </strong>
      <%=link_to "#{match.table.address}", table_path(match.table_id),
         class:"link-primary" %>
    </div>
    <div class='match-detail'>
      <strong>Proposer:</strong>
      <%=link_to "#{match.proposer.name}", user_path(
                                      match.proposer_id),class: "link-primary"%>
    </div>
      <div class='match-detail'>
        <% if (!match.accepter_id.nil?) %>
          <strong>Accepter:</strong>
          <%=link_to "#{match.accepter.name}", user_path(match.accepter_id),
                                               class:"link-primary" %>
          <% if (match.proposer_id == @current_user.id) && (match.start_at > Time.now) %>
            <%=render partial: 'match_bids/update_form',
                      locals: {bidder: match.accepter, change: false, match_id: match.id,
                               var: true, action: 'Change accepter'}%>
            <%=link_to image_tag('bin.svg', class:"icon-small icon-bin"),
                              match_path(match), method: :delete, remote: true%>
          <% end %>
        <% else %>
          <strong>Bidders:</strong>
          <% if match.bidders.empty? %>
            <span>No bids yet</span>
            <% if match.proposer_id == @current_user.id %>
              <%=link_to image_tag('bin.svg', class:"icon-small icon-bin"),
                              match_path(match), method: :delete, remote: true%>
            <% end %>                  
          <% else %>
            <% match.bidders.each do |bidder| %>
              <div class='bidder'>
                <%=link_to "#{bidder.name}", user_path(bidder),
                    class: "link-primary bidder"%>
                <%if (match.proposer_id == @current_user.id) && (match.start_at > Time.now)%>
                  <%=link_to(image_tag('message.svg',class:"icon-small icon-position"),
                    conversation_messages_path(get_bid(match, bidder).conversation)) %>
                  <%=render partial: 'match_bids/update_form',
                            locals: {bidder: bidder, change: true, match_id: match.id,
                                     var: true, action: 'Accept'}%>
                  <%=link_to image_tag('bin.svg', class:"icon-small icon-bin"),
                     match_path(match), method: :delete, remote: true%>
                <% end %>
              </div>
             <% end %>
           <% end %>
           <div class='clearfix'>
             <% if match.start_at > Time.now %>
              <% if (match.proposer_id != @current_user.id) &&
                                                    (already_bidded?(match))%>
                <%=link_to 'drop bid', match_match_bid_path(params[:id],
                          get_bid(match, @current_user)),method: :delete,
                          remote: true, class: 'btn btn-secondary btn-signup'%>
              <% elsif (match.proposer_id != @current_user.id) &&
                                                    (!already_bidded?(match))%>
                <%=render 'match_bids/new_form'%>
              <% end %>
             <% end %>
           </div>
         <% end %>
      </div>
  </div>
</div>
