(function(){
  $('.pop-up-photo').hide();
  $('#error_explanation').remove()
  <% if @match.new_record? %>
    var errors = "<%=j render 'shared/error_messages', object: @match %>";
    $('.calendar').prepend(errors);
    $('html, body').animate({scrollTop: $("#error_explanation").offset().top}, 500)
  <% else %>
    <%=render partial: 'matches/render_event.js.erb', locals: {match: @match}%>
  <% end %>
}) ()
