<div class="content">
  <h1>Propose a BatMatch! </h1>
  <p> You can propose a BatMatch by clicking on the calendar below.
      Each match lasts 30 minutes. If you want to play for longer,
      you can propose multiple matches in a row. </p>
  <p>  Once your proposal is up,
          people can start bidding for it. It's then up to you to
          choose your rival.  </p>
  <p> You can also change the proposal by dragging it directly on the calendar
      when nobody hasn't bidded on the match. Once the first bid appears, you can
      no longer change the proposal. </p>
  <p class="strong"> Propose a match now to start
      having fun!</p>
  <div class="table_info">
    <div class="left-part calendar" id="calendar" data-tableid="<%=@table.id%>">
      <div id="calendarBin"><%=image_tag('bin.svg', class:"icon-small icon-position")%></div>
      <div class='pop-up-photo pop-up'>
        <div class='login_form popupphoto_form'>
          <p>Confirm the proposal?</p>
            <%=render 'form' %>
          </div>
        </div>
      <%=render 'legend' %>
    </div>

    <div class="right-part photo-calendar">
      <%=render partial: 'shared/carousel-index', locals: {table: @table} %>
      <%=render 'tables/facility' %>
    </div>
  </div>
</div>
