(function(){
  $('#error_explanation').remove()
  $('.calendar').fullCalendar('removeEvents', [<%=@match.id %>])
  <% if @match.errors.any? %>
    var errors = "<%=j render 'shared/error_messages', object: @match %>";
    $('.calendar').prepend(errors);
    $('html, body').animate({scrollTop: $("#error_explanation").offset().top}, 500);
    <%=render partial: 'matches/render_event.js.erb', locals: {match: @match.reload} %>
  <% else %>
    <%=render partial: 'matches/render_event.js.erb', locals: {match: @match} %>
  <% end %>
}) ()
