$color-texts: #515457;
$color-primary: #57b057;
$color-hover: #3b7d3b;
$color-secondary: #707070;
$color-lightgray: lightgray;
$color-gray: gray;


/* alert color */
$color-danger: #a94442;
$background-danger: #f2dede;
$border-danger: #ebccd1;

$color-success:#3c763d;
$background-success:#dff0d8;
$border-success: #d6e9c6;

$color-info: #31708f;
$background-info: #d9edf7;
$border-info:#bce8f1;

$color-warning:#8a6d3b;
$background-warning:#fcf8e3;
$border-warning:#faebcc;
