@import 'defs';

/* base */

.flashbar {
  position: relative;
  .exit-flash {
    position: absolute;
    right: 20px;
  }
}

header {
  height: 50px;
  color: white;
  margin: 0;
  text-align: center;
  background-color: rgba(50,50,50, .5);
}

.form-inline {
  display: inline-block;
  font-size: 0.8em;
}

img {
  max-width: 100%;
}

.row {
  width: 50%;
  margin: 0 auto;
}


textarea{
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

label {
  font-size: 0.8em;
  margin-top: 1.5em;
  display: block;
}

.label_inline {
  margin-top: 0;
  display: inline-block;
}


.clearfix:after {
   content: "";
   display: table;
   clear: both;
}

.strong {
  font-weight: 900;
  color: darken($color-texts, 10%)
}

html, input, textarea {
  font-family: 'Merriweather Sans', sans-serif;
}

body {
  margin: 0;
}

h1 {
  font-size: 30px;
  font-weight: normal;
  color: $color-texts;
}

h2 {
  font-size: 20px;
  font-weight: normal;
  color: $color-texts;
}

h3 {
  font-size: 15px;
  font-weight: normal;
  color: $color-texts;
}

h4 {
  font-size: 25px;
  font-weight: normal;
  color: $color-texts;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  font-size: .8em;
}

.pagecount {
  display: none;
}

.pagination {
  margin-top: 5em;
  border-top: 1px solid $color-lightgray;
  padding: 2em;
  a, em, span {
    cursor: pointer;
    color: $color-texts;
    font-size: 0.8em;
    display: inline;
    border: 1px solid $color-texts;
    padding: 0.5em 1em;
  }
  em {
    background-color: $color-primary;
    color: white;

  }
}


/* buttons */
.btn {
  cursor: pointer;
  border: none;
  border-radius: 10px;
  color: white;
  padding: .5em 1em;
  display: inline-block;
  font-size: inherit;
}

.btn-primary {
  background-color: $color-primary;
  margin-bottom: 20px;
}

.btn-secondary{
  background-color: $color-secondary;
  margin-bottom: 20px;
}

.btn-margin {
  margin-right: 15px;
}


.btn-signup {
  display: block;
  float: right;
}

/* links */
.link-primary {
  color: $color-primary;
  &:hover {
    color: $color-hover;
  }
}

.link-header {
  color: white;
  &:hover {
    color: $color-lightgray;
  }
}

.link-gray {
  display: block;
  color: $color-texts;
}

.link-small {
  font-size: 0.8em;
}

.link-secondary {
  color: $color-gray;
  &:hover {
    color: $color-lightgray;
  }
}

/* forms */

.form-field {
  display: block;
  margin: 0 auto 2em 0;
  width: 100%;
  height: 3em;
}

.form-field-invalid {
  border: 1px solid red;
}



/* flash/errors */

#error_explanation {
  color: red;
  text-align: left;
  ul {
    color: red;
    margin: 0 0 30px 0;
    font-size: 0.8em;
  }
}
.alert {
  padding: 0.5em;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
  display: block;
}

.alert-danger {
  color: $color-danger;
  background-color: $background-danger;
  border-color: $border-danger;
}

.alert-success {
  color: $color-success;
  background-color: $background-success;
  border-color: $border-success;
}

.alert-warning {
  color: $color-warning;
  background-color: $background-warning;
  border-color: $border-warning;
}

.alert-info {
  color: $color-info;
  background-color: $background-info;
  border-color: $border-info;
}

.alert-small {
  max-width: 21%;
  font-size: 0.8em;
}


/* pop up form */
.popup_form {
  margin: 10% auto;
  max-width: 30%;
}

.login_form {
  position: relative;
  padding: 2em 2em 1em 2em;
  text-align: left;
  background-color: white;
  border-radius: 10px;
  h2 {
    font-size: 20px;
    color: $color-texts;
  }
}
.return{
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    font-size: 1.5em;
}


.pop-up {
  z-index: 100;
  display: none;
  background-color: rgba(50,50,50,0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popupphoto_form {
  margin: 10% auto;
  max-width: 70%;
}


/* footer */

footer {
  padding-top: 5px;
  border-top: 1px solid $color-lightgray;
  color: $color-primary;
  small {
    margin-top: 10px;
    margin-left: 20px;
    float: left;
  }
  ul {
    float: right;
    li {
      float: left;
      margin-right: 15px;
    }
  }
}

/* no response */
.nores {
  min-height: 500px;
  margin: auto auto;
  line-height: 500px;
}
