.calendar {
  width: 70%;
  min-width: 600px;
  margin-top: 50px;
  margin-right: 20px;
  font-size: 0.5em;
  position: relative;
}

body .fc{
  font-size: 0.8em;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 2em;
}

.disabled {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50, 50, 50, .5);
  }
}

.photo-calendar {
  margin-top: 20px;
  width: 20%;
  margin-right: 0
}
