// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defs';

.comment_form {
  max-width: 600px;
  min-width: 500px;
}

.comment {
  max-width: 600px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  padding: 1.5em 0;
  width: 90%;
  .user_info {
    display: inline-block;
  }
  .review {
    border-bottom: 1px solid $color-lightgray;
    display: inline-block;
    width: 80%;
    font-size: 0.8em;
  }
}

.comment-content {
  margin-bottom: 20px;
}

.comment-title {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 1em;
}
