// Place all the styles related to the conversations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "defs";

.conversations {
  margin: 1em 0;
}

.conversation-form {
  border-bottom: 1px solid $color-lightgray;
  padding-bottom: 1em;
  margin-bottom: 2em;
}

.conversation {
  font-size: 0.8em;
  padding: 1.5em;
  border: 1px solid $color-lightgray;
  display: flex;
}

.last-message {
  font-weight: normal;
  font-style: italic;
}

.conversation-info {
  flex-shrink: 0;
  margin: 0 20px;
}

.conversation-counterpart-name {
  width: 100px;
}

.conversation-subject {
  flex-grow: 10;
  flex-shrink: 1;
}

.conversation-status {
  text-align: center;
  width: 70px;
}

.conversation-date {
  width: 60px;
}

.unread {
  background-color: lighten($color-lightgray, 13%);
  font-weight: bold;
}


.truncate {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.dropdown_menu {
  margin-top: 50px;
}

/* conversation pop-up */
.conversation-form {
  background-color: white;
  width: 50%;
  margin: 50px auto;
}

.pop-up-conversation {
  display: block;
}
