@import "defs";

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  box-shadow: 0 0 1px 2px $color-lightgray;
  display: none;
  z-index: 99;
}

/* notification dropdown */

.notification {
  position: relative;
}

.notification-dropdown {
  width: 350px;
}

.notification-number {
  position: absolute;
  background-color: $color-primary;
  height: 1em;
  width: 1em;
  line-height: .9em;
  top: -0.5em;
  right: 1em;
}

.notification-title {
  background-color: $color-primary;
  color: white;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.notification-type {
  margin-bottom: 10px;
  font-weight: 600;
}

.notification-list {
  overflow: auto;
  max-height: 350px;
  padding: 1em;
  li {
    margin-bottom: 10px;
    text-align: left;
    color: $color-texts;
    font-size: 0.7em;
    border-bottom: 1px solid $color-lightgray;
  }
}


.notification-contentwrap{
  margin-bottom: 1em;
  display: flex;
}

.notification-content {
  margin-left: 1em;
}

.notification-avatar {
  flex-shrink: 0;
}

.notification-time {
  margin-bottom: 1em;
}

/* profile dropdown */

.profile {
  position: relative;
}

.profile-dropdown {
  width: 200px;
  text-align: left;
  ul {
    padding: 0 1em;
    li {
      margin-bottom: 1em;
      padding-top: 1em;
      transition: padding-left 400ms;
      &:not(:first-child) {
        border-top: 1px solid $color-lightgray;
      }
      &:hover {
        padding-left: 5px;
      }
    }
  }
}
