@import 'defs';
@keyframes spin{
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  &:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid $color-primary;
    border-right-color: lighten($color-primary, 20%);
    margin: 0 auto;
    animation: spin 500ms linear infinite;
  }
}
