// Place all the styles related to the matches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "defs";

.icon-bin {
  position: absolute;
  left: 90%;
  top: 80%;
}

.legend-wrap {
  margin-top: 20px;
  display: flex;
}
.legend {
  display: flex;
  margin-right: 10px;
  margin-bottom: 10px;
  .legend_title {
    height: 10px;
    min-width: 20px;
    display: inline-block;
    margin-right: 10px;
  }
  .legend_blue {
    background-color: blue;
  }
  .legend_lightblue {
    background-color: lightblue;
  }
  .legend_green {
    background-color: green;
  }
  .legend_lightgreen {
    background-color: lightgreen;
  }
  .legend_red {
    background-color: red;
  }
  .legend_orange {
    background-color: orange;
  }
  .legend_gray {
    background-color: $color-lightgray;
  }
}

.matchinfo-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  left: 0;
  top:0;
  background-color: rgba(50, 50, 50, .1);
}
.matchinfo {
  position: relative;
  width: 50%;
  border-radius: 20px;
  padding: 1em;
  background-color: white;
  margin: 100px auto;
  .match-detail {
    font-size: 0.8em;
    margin-bottom: 10px;
    .bidder {
      margin: -5px 0 20px 25px;
      display: flex;
    }
  }
}

.bidder {
  margin-right: 2px;
}
