// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "defs";

$color-sent: lighten($color-primary, 20%);

.user_info {
  text-align: center;
  margin-bottom: 30px;
}

.badges {
  margin: 10px;
  display: flex;
  justify-content: space-around;
  .badge {
    margin-right: 10px;
    display: inline-block;
    img {
      vertical-align: middle;
    }
  }
}

.info-wrap {
  border-top: 1px solid $color-lightgray;
}

.avatar {
  display: flex;
  flex-direction: column;
  .avatar-img{
    vertical-align: middle;
  }
}

.messages {
  width: 60%;
}

.message {
  display: flex;
  margin-bottom: 2.5em;
}

.message_wrap {
}

.message_content {
  border-radius: 5px;
  max-width: 500px;
  min-width: 100px;
  padding: .5em 1em;
  position: relative;

  &:after {
    border: solid transparent;
    border-width: 5px 7px;
    content: "";
    height: 0;
    position: absolute;
    top: 10px;
    width: 0;
  }
}

.message_date {
  color: $color-secondary;
  text-align: right;
  font-size: 0.7em;
}

.message_sent {
  flex-direction: row-reverse;
  .message_wrap {
    margin-right: 1em;
  }
  .message_content {
    background-color: $color-sent;
    &:after {
      border-left-color: $color-sent;
      left: 100%;
    }
  }
}

.message_received {
  .message_wrap {
    margin-left: 1em;
  }
  .message_content {
    background-color: $color-lightgray;
    &:after {
      border-right-color: $color-lightgray;
      right: 100%;
    }
  }
}

.notice {
  align-items: center;
  color: $color-secondary;
  justify-content: center;
  text-align: center;
  &:before, &:after {
    border-bottom: 1px solid $color-lightgray;
    margin: 1em;
    flex-shrink: 0;
    content: "";
    width: 10%;
  }
}
