.quote {
  display: inline-block;
  position: relative;

  &:before, &:after {
    font-family: serif;
    font-size: 2em;
  }
  &:before {
    content: '“';
  }
  &:after {
    content: '”';
    position: absolute;
    bottom: -0.7em;
    left: calc(100% + 0.1em);
  }
}
