// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defs';

.rating-edit-form {
  background-color: white;
  position: absolute;
  display: none;
  font-size: 0.7em;
  padding: 2em;
  border-radius: 5px;
  border: 1px solid $color-lightgray;
  top: -160px;
  right: 125px;
  z-index: 89;
}


.rate_button {
  margin-top: 20px;
}

.rating_form {
  margin-top: 50px;
}

.full_rating {
  letter-spacing: 2px;
  font-size: 0.7em;
  display: inline-block;
  position: relative;
  top:0;
  left:0;
  color: $color-lightgray;
}
.real_rating {
  letter-spacing: 2px;
  position: absolute;
  top:0;
  left:0;
  color: $color-primary;
  overflow: hidden;
}

.overal_rating {
  display: inline-block;
}

.your_rating {
  color: #b8860b;
}

.user_rating {
  color: $color-lightgray;
  letter-spacing: 2px;
  cursor: pointer;
}

.rating-wrapper {
  position: relative;
  padding-top: 2em;
  border-top: 1px solid $color-lightgray;
  margin-bottom: 30px;
  height: 70px;
  margin-top: 70px;
  padding-bottom: 2em;
  border-bottom: 1px solid $color-lightgray;
}

.small_stars {
  display: inline-block;
}

.big_stars {
  font-size: 1.2rem;
}


.rating-detail-wrapper {
  width: 650px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.detail {
  display:inline-block;
}
