// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login_block {
  position: relative;
  display: flex;
  margin-top: 5%;
}

.social_login {
  padding: 0.5em 1em;
  color: white;
  border: 0 rgba(0,0,0,0);
  display: inline-block;
  width: 70%;
  margin: 0 auto;

}

.drawing {
  margin: 3% 5% 0 auto;
}

.login_page {
  width: 30%;
  margin: 0 20% 0 0;
}
