// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'defs';

/* header */

.sitename{
  float: left;
  margin: 14px;
}

.user {
  float: right;
  > li{
    display: inline-block;
    height: 34px;
    transition: transform 300ms;
    &:hover .icon-position {
      transform: scale(1.2);
    }
  }
  .non-logged_in {
    margin-right: 20px;
  }
}

.searchbar {
  display: inline-block;
}

.around_me {
  display: inline-block;
  margin-left: 15px;
  margin-top: 16px;
}


.search {
  margin-top: 10px;
  height: 20px;
  min-width: 300px;
}

#search-btn {
  display: none;
}

.logo {
  float: left;
  margin-left: 20px;
}

/* body */

.background {
  margin-top: -50px;
  position: relative;
  z-index: -1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-home {
  background-image: url('background.jpg');
  padding: 25em 0 5em 0;
}

.text {
  color: white;
  font-size: 1.2em;
  width: 50%;
  margin: 0 0 0 auto;
  background-color: rgba(50,50,50,.5);
  padding: 0.3em;
  text-align: center;
}

/* sign up */

.sign_up {
  text-align: center;
  margin: 50px;
  p {
    color: $color-texts;
    margin-bottom: 30px;
  }
}

  .signup_block {
    text-align: left;
    max-width: 70%;
    margin: 3em auto;
    position:relative;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
  }

  .social {
      width: 35%;
      text-align: center;
      .social_signup {
        padding: 0.5em 1em;
        color: white;
        border: 0 rgba(0,0,0,0);
        display: block;
        width: 70%;
        margin: 0em 20px 2em auto;
      }
      .facebook {
        background-color: #3b5998;
      }
      .google {
        background-color: #d73d32;
      }
    }

  .new_user {
      text-align: center;
      // padding-left: 20px;
      width: 55%;
      // border-left: 1px solid $color-lightgray;
    }
