// Place all the styles related to the Tables controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'defs';

/* index */

.frame-index {
  width: 345px;
  height: 231px;
  background-color: rgba(50,50,50,0.1);
  margin-bottom: 10px;
  .slick-initialized .slick-slide {
    display: flex;
    align-items: center;
  }
  .slick-slide {
    height: 231px;
  }
  img {
    margin: auto;
  }
}

.default-img {
  margin-bottom: 30px;
}

.frame-infowindow {
  width: 154px;
  height: 127px;
  background-color: rgba(50,50,50,0.1);
  margin-bottom: 10px;
  .slick-initialized .slick-slide {
    display: flex;
    align-items: center;
  }
  .slick-slide {
    height: 127px;
  }
  img {
    margin: auto;
  }
}

.table-infowindow {
  display: inline-block;
  width: 140px;
  margin: 1em;
}

.tables {
  width: calc(100% - 510px);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.table_img {
  display: block;
  margin: 1.3em auto;
}

.table {
  display: inline-block;
  width: 345px;
  margin: 1.5em auto 0.5em 1em;
}

.map-wrap {
 position: fixed;
 top: 60px;
 right: 10px;
 border: 1px green;
}

.table-address {
  width: 60%;
  margin-top: 10px;
}

/* new table */

.section_wrap {
  border-top: 1px solid $color-lightgray;
  padding-top: 20px;
  display: none;
  min-height: 200px;
}

.upload_wrap {
  position: relative;
  min-height: 40px;
}

.photo_preview {
  padding: 0;
}

.frame {
  margin-top: 1em;
  margin-right: 1em;
  width: 240px;
  height: 150px;
  border-style: double;
  border-color: $color-lightgray;
  padding: 1em 0.5em;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: center;
  display: inline-block;
  position: relative;
  .delete {
    font-size: 1.5em;
    position: absolute;
    top:-5px;
    right:10px;
  }
}


.progress {
  width: 290px;
  height: 28px;
  border-radius: 2px;
  padding: 3px;
  margin: 0;
  border: 1px solid #1A1C21;
  box-shadow: inset 0 0 3px #222, 0 1px 0 #484848;
  .bar {
    width: 0;
    height: 25px;
    border-radius: 3px;
    background: $color-primary;
    border: 1px solid #2A2B2F;
    box-shadow: inset 0 1px 0 #4dc8db, 0 1px 0 #393C45;
    padding: 0;
    margin: 0;
  }
}

.explanation {
  font-size: 0.8em;
}


.item {
  display: inline-block;
  width: 50px;
  position:relative;
  margin-right: 20px;
}

.icon {
  width: 40px;
  height: 40px;
}

.green {
  color: $color-primary;
}


.content {
  width: 85%;
  margin: 0 auto;
}

.content-show {
  width: 90%;
  margin: 0 auto;
}

.table_info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
  width: 100%;
  .left-part {
    display: inline-block;
    .location_search {
      margin-top: 20px;
    }
  }
  .right-part {
    display: inline-block;
    margin-right: 20px;
  }
  .right-close {
    position:relative;
    margin-right: 100px;
    margin-top: 100px;
  }
}

#new_table {
  position: relative;
}

.freeze{
  display: none;
  background-color: transparent;
  z-index: 20;
  height: 100%;
  width: 100%;
  background-repeat:no-repeat;
  background-position:center;
  position:absolute;
  top: 0px;
  left: 0px;
}


/* table show */

.carousel {
  margin-top: 20px;
  width: 650px;
}

.carousel-small {
  margin-top: 20px;
  width: 650px;

}


.quote_user {
  margin-left: 50px;
  color: $color-texts;
}

.facility-wrap {
  margin-top: 30px;
  max-width: 400px;
  padding-bottom: 1em;
  display: flex;
  flex-direction: column;
}

.facility {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  &.gray {
    order: 99;
    img {
      filter: grayscale(100%);
    }
    span {
      text-decoration: line-through;
    }
  }
}

.icon-small {
  width: 25px;
  height: 25px;
}

.icon-position {
  vertical-align: middle;
  margin-right: 20px;
}


.show_map{
  margin-top: 130px;
}

.btn_wrap {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* checkboxes */
.checkbox {
  display: none;
  & + label {
    position: relative;
  }
  &:checked + label {
    .checkbox-tick {
      display: block;
    }
  }
}
.checkbox-tick {
  background-color: $color-primary;
  border-radius: 50%;
  color: white;
  display: none;
  height: 1.5em;
  position: absolute;
  right: -.5em;
  text-align: center;
  top: -.5em;
  width: 1.5em;
}

/* dropdown-list */
.dropdown {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;

}


/* heart */

.heart-hollow {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.heart-red {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
}
.heart {
  display: none;
}
