// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import  'defs';

.signup_page {
  display: flex;
}

.user-basic {
  margin-bottom: 50px;
}

.user-message-me {
  font-size: 0.9 em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.user-description {
  color: $color-texts;
  max-width: 750px;
}

.user-favoriate {
  margin-top: 50px;
}

.user-fav-tables {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.user-fav-table {
  width: 25%;
  margin-right: 3em;
  margin-bottom: 2em;
}

.user-calendar-wrap {
}

.user-calendar{
  margin: 0;
  width: 100%;
}

.user-legend {
  margin-top: 20px;
}

.location {
  text-align: left;
}
