<%=link_to url, method: method, remote: true, class: 'btn-signup vote' do %>
  <%=image_tag('like.svg', size: 15)%>
  <span class="<%=css%>">Useful
    (<span class='"<%=css%>" vote-count'><%=comment.votes.count%></span>)
  </span>
<% end %>
