(function(){
  <% unless @vote.new_record? %>
    var comment = $("[data-commentid=<%=@comment.id%>] .vote");
    comment.replaceWith("<%= j render partial: 'votes/vote', locals: {method: :delete, url: comment_vote_path(@vote, comment_id: @comment.id), comment: @comment, css: 'link-secondary'}%>");
  <% end %>
}) ()
