(function(){
  <% unless @vote.errors.any? %>
    var comment = $("[data-commentid=<%=@comment.id%>] .vote");
    comment.replaceWith("<%= j render partial: 'votes/vote', locals: {method: :post, url: comment_votes_path(comment_id: @comment.id), comment: @comment, css: 'link-primary'}%>");
  <% end %>
}) ()
