<div class="pop-up pop-up-login">
  <div class="login_form clearfix popup_form">
    <h2>Log in as BAT agent</h2>
    <%=link_to "not yet a BATAgent? Join now!", signup_path,
                                      class: "link-primary link-small"%>

    <%=link_to "×", "#", class: "exit link-primary return"%>
    <%=render partial: 'sessions/login', locals: { var: true } %>
  </div>
</div>

<footer class="footer">
  <small>
    BATMAP © Yaoie
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path, class:"link-primary" %></li>
      <li><%= link_to "Contact", 'https://rosalie123.herokuapp.com/', class:"link-primary"%></li>
    </ul>
  </nav>
</footer>
