<header>
  <nav class="nav clearfix">
    <%= link_to image_tag("logo.png"), root_path , class: "logo" %>
    <%= link_to "BATMAP", root_path, class:"link-header sitename" %>
    <ul class="user">
      <% if logged_in? %>
        <li class="notification click-dropdown" data-target='.notification-dropdown'>
          <%=render 'shared/notifications'%>
        </li>
        <li><%=link_to image_tag('map.svg', class: 'icon-small icon-position'), new_table_path,
                title: 'add a table'%></li>
        <li><%=link_to image_tag('inbox.svg', class:'icon-small icon-position'), inbox_path,
                title: 'see messages'%></li>
        <li class='profile click-dropdown' data-target='.profile-dropdown'>
          <%=render 'shared/profile'%>
        </li>
      <% else %>
        <li class='non-logged_in'><%=link_to "Log in", "#", class:"link-header", id: "login"%></li>
        <li class='non-logged_in'><%=link_to "Sign up", signup_path, class:"link-header"%></li>
      <% end %>
    </ul>
    <%=render 'shared/searchbar'%>
    <%=link_to "Tables around me", "#", class:"around_me link-header" %>
  </nav>
</header>

<script async defer
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4wS9TPSIExN2MI6WvJMk8-o6CqXEeTC4&libraries=places&callback=initAutocomplete">
</script>
